<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>FIRST APP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    .header {padding: 40px 30px 20px 30px; font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 10px;}
  </style>
</head>
<body style="margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
      <tr bgcolor="#D2D7D9">
        <td class="header" align="center" bgcolor="#2B2B2B" style="padding: 40px 0 30px 0;">
          FIRST APP
        </td>
        </tr>
        <tr>
          <td bgcolor="#F6F6F6" style="padding: 40px 30px 40px 30px;">
          <p>Thank you for your order. Your payment has been processed successfully.</p>
          <br>
          <p>Order Details:</p>
          <p>Product: <%= @product.name %></p>
          <p>Amount: $<%= @product.price*100 %></p>
          <br>
          <p> - The FirstApp Team</p></td>
        </tr>
        <tr bgcolor="#D2D7D9">
          <td bgcolor="#DE1B1B" style="color: #F6F6F6; font-family: Arial, sans-serif; font-size: 14px; padding: 30px 30px 30px 30px;">
            Bike Berlin 2017
          </td>
        </tr>
      </table>
    </table>
  </body>