/* line 1, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 75px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/mac/first_app/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: darkslategray;
}

/* line 11, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
h2 {
  font-family: Courier new, Arial, sans-serif;
  color: darkslategray;
  text-align: center;
}

/* line 17, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
p {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  font-size: large;
  text-align: center;
  color: black;
}

/* line 25, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
.navbar a {
  color: white;
}

/* line 29, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
img {
  margin: 10em auto;
}

/* line 33, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100;
}

/* line 40, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
.footer-element {
  display: inline-block;
  float: right;
  padding: 0 5px;
}

/* line 46, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
.bar {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  width: 100%;
  color: white;
  background-color: black;
}

/* Products Page */
/* line 58, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  text-align: center;
}

/* line 64, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
.card_block {
  margin-top: 15px;
}

/* line 68, /Users/mac/first_app/app/assets/stylesheets/static_pages.scss */
.card_footer {
  font-size: 2em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

