// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-page-title {
	margin-bottom: 75px;
}

table {
	margin-left: auto;
	margin-right: auto;
}