// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #F6F6F6;
	margin: 75px;
}

img {
	margin: 7em auto;
}

.alert {
	text-align: center;
}

/* Nav */

.navbar {
	border-bottom: 10px solid #DE1B1B;
	background-color: #2B2B2B;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F6F6F6;
    letter-spacing: 0.15em;
    padding-top: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #E9E581;
    text-decoration: none;
}

.navbar-brand {
    display: inline-block;
    padding: 20px 19px 20px;
    letter-spacing: 0.10em;
    text-decoration: none;
}

.navbar-brand a {
    color: #F6F6F6;
}

.navbar-brand a:hover {
    color: #E9E581;
    text-decoration: none;
}

.search_bar {
    display: inline-block;
    margin-bottom: 0;
}

#nav_btns {
    padding: 8px 20px;
    margin: 5px;
	background-color: #F6F6F6;
	color: #DE1B1B;
	border-radius: 5px;
}

/* Footer */

.site-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer-element {
	display: inline-block;
	float: right;
	padding: 0 5px;
}

.bar {
	position: fixed;
	left: 0;
	bottom: 0;
	padding-top: 15px;
	width: 100%;
	color: white;
	background-color: #2B2B2B;
}

/* Carousel */

.carousel {
	padding-top: 20px;
}

.carousel-inner {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control:hover, .carousel-control:focus {
 	background-color: rgba(0,0,0,0);
 	color: #fff;
 	opacity: 100;
 }

.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
}

.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
}

.carousel-caption {
    background-color: rgba(233, 229, 129, 0.8);
    border-radius: 10px;
    font-size: 30px;
    letter-spacing: 0.10em;
    color: #2B2B2B;
}

.carousel-indicators > li {
    border: 5px;
	background-color: #a9a9a4;
}

.carousel-indicators > .active {
	background-color: #2B2B2B;
}

/* Products Page */

.card {
    margin: 30px 15px 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	text-align: center;
}

.card_footer {
	font-size: 2em;
}

#img_card {
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#product_card {
	margin-top: 15em;
	margin-left: 10em;
	padding: 20px;
	border-style: solid;
	border-width: 4px;
	width: 350px;
	height: 300px;
}

/* Login */

.checkbox input[type=checkbox] {
	margin-left: 0;
}

.checkbox label {
	padding-top: 11px;
}

#submit_btn {
    display: block;
	padding: 10px;
	width: 100%;
	background-color: #E9E581;
	font-weight: 500;
}

#s_links {
	display: block;
	padding: 10px;
}

#cancel_btn {
	width: 100%;
}

/* Typography */

.navbar a,
a {
    font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Raleway', Helvetica, sans-serif;
	text-align: center;	
	padding-top: 50px;
}

h2, 
h3, 
h4 {
	font-family: 'Lora', serif;
	text-align: center;
}

p {
	font-family: 'Lora', serif;
	display: block;
	font-size: large;
	text-align: center;
}
