<p id="notice"><%= notice %></p>

<h1 class="product-page-title">Products</h1>

<div class="container" id=products>
  <div class="row">
  	<% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div> <!-- /row -->
  <!-- added whitespace above new product link -->
  <br>
  <br>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary btn-xs", id: "p_nav_btn" %>
</div> <!-- /container -->
<!-- added whitespace above footer -->
<br>
<br>
<br>



